{{ define "main" }}
<div class="section content-width content-width--text mdl-grid">
  <div class="{{ .Section }}-{{ .File.BaseFileName }}-card card card--stand-alone mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ .Title }}</h2>
    </div>
    <div class="card__date date mdl-card__supporting-text mdl-card--border">
      <i class="material-icons md-16">event_note</i>
      <span class="date__text"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年 1月 2日" }}</time></span>
    </div>
    <div class="card__cotent mdl-card__supporting-text">
{{ .Content }}
    </div>
    <div class="mdl-card__actions">
      <a class="mdl-button" href="{{ .Site.BaseURL }}{{ .Section }}/">
        <i class="material-icons">arrow_back</i> 戻る
      </a>
    </div>
  </div>
</div>
{{ end }}