{{ define "main" }}
<div class="section content-width content-width--text mdl-grid">
  <div class="{{ .Section }}-{{ .File.BaseFileName }}-card card card--stand-alone mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ .Title }}</h2>
    </div>
    {{ partial "date.html" . }}
    <div class="card__cotent mdl-card__supporting-text">
{{ .Content }}
    </div>
    <div class="mdl-card__actions">
      <a class="mdl-button mdl-button--colored" href="{{ .Site.BaseURL }}{{ .Section }}/">
        <i class="material-icons">arrow_back</i> 戻る
      </a>
    </div>
  </div>
</div>
{{ end }}
