{{ define "style" }}
<style>
  .about-wwa {
    background-color: #ffff99;
  }
  .about-wwa__card .mdl-card__title {
    height: 225px;
  }
  .about-wwa__card--playing .mdl-card__title {
    background: url('about-wwa__playing.png') center / cover;
  }
  .about-wwa__card--making .mdl-card__title {
    background: url('about-wwa__making.png') center / cover;
  }
  .about-wwa__card--world .mdl-card__title {
    background: url('about-wwa__world.png') center / cover;
  }
  .about-wwa__card--making .mdl-card__title-text,
  .about-wwa__card--world .mdl-card__title-text {
    background-color: rgba(255, 255, 255, .75);
    padding: .5rem;
  }
  .about-fansq {
    background-color: #ccff99;
  }
</style>
{{ end }}