@charset "utf-8";

body {
	background: #f0e0c0;
}

.invisible {
	visibility: hidden;
}

.social-btn {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

.social-btn--twitter {
	background-image: url('social_twitter.png');
}

.wide-menu {
	display: flex;
	flex-flow: row nowrap;
}
	.wide-menu .icon {
		flex: 0 0 64px;
		padding: 0 1rem;
	}

.icon__link {
	color: inherit;
}
.icon__img {
	display: block;
	height: 80px;
	margin: 0 2rem;
}
	
.content-width {
	margin: auto;
	max-width: 1280px;
}

.section.section--padding {
	padding: 32px 0;
}

/* .fansq */

.fansq-header-title--mobile {
	display: none;
}

.fansq-header .fansq-logo-image {
	height: 58px;
	width: 320px;
}

.card-container--bottom-btn .mdl-cell {
	position: relative;
}
.card-container--bottom-btn .mdl-card__supporting-text {
	padding-bottom: 56px;
}
.card-container--bottom-btn .mdl-card__actions {
	bottom: 0;
	position: absolute;
}
.card-container--bottom-btn .mdl-card__actions .mdl-button {
	font-weight: bold;
}

.fansq-footer .mdl-mega-footer--right-section a .material-icons {
	position: relative;
	top: 6px;
}

/* mobile */

@media (max-width: 1024px) {
	.fansq-header-title,
	.fansq-header__spacer,
	.fansq-header-navigation-container {
		display: none;
	}

	.fansq-header-title--mobile {
		display: block;
		margin: 0 auto;
	}
}