@charset "utf-8";

body {
	background: #f0e0c0;
}

.invisible {
	visibility: hidden;
}

.social-btn {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

.social-btn__twitter {
	background-image: url('social_twitter.png');
}

.fansq-header {
	background: url('header-bg.png') center / cover;
}

.fansq--max-width {
	margin: auto;
	max-width: 1280px;
}

.fansq-footer .mdl-mega-footer--right-section a .material-icons {
	position: relative;
	top: 6px;
}
