@charset "utf-8";

body {
	background: #f0e0c0;
}

.invisible {
	visibility: hidden;
}

.social-btn {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

.social-btn__twitter {
	background-image: url('social_twitter.png');
}

.icon-menu {
	display: flex;
	flex-flow: row nowrap;
}

.icon-menu .icon-item {
	flex: 0 0 64px;
	padding: 0 1rem;
}
	.icon-menu .icon-item__link {
		color: inherit;
	}
	.icon-menu .icon-item__icon {
		display: block;
		height: 80px;
		margin: 0 2rem;
	}

/* .fansq */

.fansq-max-width {
	margin: auto;
	max-width: 1280px;
}

.fansq-mobile-title {
	display: none;
}

.fansq-logo-image {
	height: 58px;
	width: 320px;
}

.fansq-card-container .mdl-cell {
	position: relative;
}
.fansq-card-container .mdl-card__supporting-text {
	padding-bottom: 56px;
}
.fansq-card-container .mdl-card__actions {
	bottom: 0;
	position: absolute;
}
.fansq-card-container .mdl-card__actions .mdl-button {
	font-weight: bold;
}

.fansq-footer .mdl-mega-footer--right-section a .material-icons {
	position: relative;
	top: 6px;
}

/* mobile */

@media (max-width: 1024px) {
	.fansq-title,
	.fansq-header-spacer,
	.fansq-navigation-container {
		display: none;
	}

	.fansq-mobile-title {
		display: block;
		margin: 0 auto;
	}
}