<header class="header mdl-layout__header mdl-shadow--4dp">
  <div class="mdl-layout__header-row">
    <span class="header__title mdl-layout-title">
      <a class="header__title-link" href="{{ .Site.BaseURL }}" title="{{ .Title }}">
        <img class="logo-image" alt="{{ .Title }}" src="{{ .Site.BaseURL }}assets/wwa_fansq.png">
      </a>
    </span>
    <div class="header__spacer mdl-layout-spacer"></div>
    <div class="header__navigation-container">
      <nav class="header__navigation mdl-navigation">
        {{ range .Site.Menus.main }}
        <a class="mdl-navigation__link" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </div>
    <span class="header__title header__title--mobile mdl-layout-title">
      <a class="header__title-link" href="{{ .Site.BaseURL }}" title="{{ .Title }}">
        <img class="logo-image" alt="{{ .Title }}" src="{{ .Site.BaseURL }}assets/wwa_fansq.png">
      </a>
    </span>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
  {{ range .Site.Menus.main }}
    <a class="mdl-navigation__link" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
  {{ end }}
  </nav>
</div>