{{ define "main" }}

<div class="index-title section">
	<div class="index-title__bg"></div>
	<div class="index-title__text mdl-typography--text-center">
		<div class="top-text mdl-shadow--4dp">
			<div class="top-text__top">
				WWAを楽しもう！
			</div>
			<div class="top-text__description">
				WWA FanSquareはWWAのプレイや制作をお手伝いするサークルです。<br>
				ここでは主に販売している作品やおすすめのWWA作品をご紹介しています。
			</div>
		</div>
	</div>
	<div class="index-information content-width">
		<div class="mdl-card-container mdl-grid">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h3 class="mdl-card__title-text">WWAとは？</h3>
				</div>
				<div class="mdl-card__supporting-text">
					<p>WWAは広大なインターネットの世界で冒険できるRPGシステムです。</p>
					<p>あなたもWWAのプレイヤーや制作者になってWWAの世界に入ってみませんか？</p>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/about/">
						WWAを知る
					</a>
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://www.wwajp.com/top.html">
						キャラバンサークルのトップページへ
					</a>
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://wwawing.com/">
						WWA Wingで作成ツールをGET!
					</a>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h3 class="mdl-card__title-text">WWAの冒険書 20年の軌跡をQuick Load!!</h3>
				</div>
				<div class="mdl-card__supporting-text">
					<p>WWAの20年を記念に執筆した同人誌です。</p>
					<p>PDF形式で販売中！</p>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/works/wwabook_20th/">
						<i class="material-icons md-16">book</i> 見てみる！
					</a>
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/eratta/">
						<i class="material-icons md-16">error</i> 正誤表を見る
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="index-title__topic topic mdl-typography--title mdl-typography--text-center">
		<span class="topic__text">
			WWAコンテスト 2018 作品投票開始！ (<time datetime="2018-10-28">10/28</time> まで)
		</span>
		<a class="topic__link mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://wwacontest.aruneko.net">
			<i class="material-icons md-16">how_to_vote</i> コンテストにアクセス！
		</a>
	</div>
</div>

<div class="index-playing section section--padding mdl-typography--text-center">
	<div class="content-width">
		<h2 class="section__title mdl-typography--display-1">
			WWAをプレイするには
		</h2>
		<div class="index-playing__list menu menu--wide">
			<div class="menu__item menu__item--icon icon icon--wwajp">
				<a class="icon__link" href="http://www.wwajp.com/">
					<img class="icon__img" src="assets/icon-wwajp.png" alt="キャラバンサークル">
					<span class="icon__text">キャラバンサークル</span>
				</a>
			</div>
			<div class="menu__item menu__item--icon icon icon--plicy">
				<a class="icon__link" href="https://plicy.net/">
					<img class="icon__img" src="assets/icon-plicy.png" alt="プリシー">
					<span class="icon__text">プリシー</span>
				</a>
			</div>
			<div class="menu__item menu__item--icon icon icon--more">
				<div class="icon__img"></div>
				<span class="icon__text">...今後も増加中！</span>
			</div>
		</div>
	</div>
</div>

<div class="index-content section section--padding mdl-color--white">
	<div class="content-width section__content mdl-grid">
		<div class="mdl-cell mdl-cell--4-col">
			<h2 class="mdl-typography--title">
				WWA関連リンク
			</h2>
			<ul class="mdl-list menu">
				<li class="mdl-list__item mdl-list__item--three-line menu__item">
					<span class="mdl-list__item-primary-content">
						<span><a href="http://www.wwajp.com">キャラバンサークル</a></span>
						<span class="mdl-list__item-text-body">
							WWAの原作者のサイトです。
						</span>
					</span>
				</li>
				<li class="mdl-list__item mdl-list__item--three-line menu__item">
					<span class="mdl-list__item-primary-content">
						<span><a href="http://wwawing.com">WWA Wing</a></span>
						<span class="mdl-list__item-text-body">
							WWAをJavaアプレットからJavaScriptに移植したWWA Wingのサイトです。<br>
							今後のWWAに向けて開発したい方はぜひご協力を！
						</span>
					</span>
				</li>
				<li class="mdl-list__item mdl-list__item--three-line menu__item">
					<span class="mdl-list__item-primary-content">
						<span><a href="https://www.aokashi.net">Aokashi Home</a></span>
						<span class="mdl-list__item-text-body">
							代表のWebページです。こちらも、WWA作品とWWA素材がご利用になれます。
						</span>
					</span>
				</li>
			</ul>
		</div>
		<div class="mdl-cell mdl-cell--4-col">
			<h2 class="mdl-typography--title">お知らせ</h2>
			<ul class="mdl-list menu">
			{{ range where .Data.Pages "Section" "information" }}
				<li class="mdl-list__item menu__item">
					<span class="mdl-list__item-primary-content"><a href="{{ .URL }}">{{ .Title }}</a></span>
					<span class="mdl-list__item-secondary-content"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年 1月 2日" }}</time></span>
				</li>
			{{ end }}
				<li class="mdl-list__item menu__item">
					<span class="mdl-list__item-primary-content"><a class="mdl-button" href="/information/">もっと見る...</a></span>
				</li>
			</ul>
		</div>
		<div class="mdl-cell mdl-cell--4-col">
			<h2 class="mdl-typography--title">ツイート一覧</h2>
			<a class="twitter-timeline" data-lang="ja" data-height="400" data-link-color="#E95F28" href="https://twitter.com/wwa_fansq?ref_src=twsrc%5Etfw">Tweets by wwa_fansq</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>

<div class="index-community section section--padding mdl-typography--text-center">
	<div class="content-width">
		<h2 class="section__title mdl-typography--display-1">
			Discord のご案内
		</h2>
		<p>WWAについて語りたいですか？ WWA FanSquareではDiscordでWWAコミュニティを用意しています！</p>
		<p>ご意見もお待ちしております。</p>
		<a class="topic__link mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" href="https://discord.gg/JD5KFyq">
			<i class="material-icons md-16">person_add</i> 参加する！
		</a>
	</div>
</div>
{{ end }}

{{ define "footer" }}
<div class="content-width mdl-mega-footer--bottom-section">
	<p>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br>
		このページの内容は、例外を除き、 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>の下に提供されています。ただし、WWA原作(キャラバンサークル)から提供されている画像や音声、文章、ソースコードなどの著作物につきましては、一部の著作権が原作者のNAO様に帰属します。詳しくは<a href="http://wwajp.com">WWA公式サイトをご確認ください</a>。
	</p>
	<p>当サイトは <a href="https://getmdl.io">Material Design Lite</a> およびそれに付属、参照される各種ライブラリを使用しています。HTMLソースよりご確認願います。</p>
	<p>Internet RPG "<a href="http://wwajp.com">World Wide Adventure</a>" © 1996-2017 NAO</p>
	<p>"WWA FanSquare" © 2017 WWA FanSquare</p>
</div>
{{ end }}