{{ define "style" }}
<style>
.fansq-title-section {
	background-color: #20c020;
}
.fansq-top-bg {
	background: #20c020 url('./assets/index-title-section.png') no-repeat center top / cover;
	height: 512px;
}
.fansq-top-area {
	margin-top: -512px;
}
	.fansq-top-area .top-text {
		display: inline-block;
		margin: 96px 0;
		padding: 1rem;
		background: rgba(255, 255, 255, .875);
	}
		.fansq-top-area .top-text__top {
			font-size: 3rem;
			font-weight: bold;
			margin: 2rem 0;
		}
		.fansq-top-area .top-text__description {
			font-size: 1.2rem;
			margin: 1rem 0;
		}
.fansq-playing-section,
.fansq-link-section {
	padding: 32px 0;
}
.fansq-playing-section {
	background-color: #ffff99;
}
	.fansq-playing-section__list {
		margin: 1rem 0;
	}
@media (max-width: 839px) {
	.fansq-top-area__text__top {
		font-size: 2.2rem;
	}
	.fansq-top-area__text__description {
		font-size: 1rem;
	}
}
</style>
{{ end }}

{{ define "main" }}
<div class="fansq-title-section">
	<div class="fansq-top-bg"></div>
	<div class="fansq-top-area mdl-typography--text-center">
		<div class="top-text">
			<div class="top-text__top">
				WWAを楽しもう！
			</div>
			<div class="top-text__description">
				WWA FanSquareはWWAのプレイや制作をお手伝いするサークルです。<br>
				ここでは主に販売している作品やおすすめのWWA作品をご紹介しています。
			</div>
		</div>
	</div>
	<div class="fansq-information-section fansq-max-width">
		<div class="mdl-card-container mdl-grid">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h3 class="mdl-card__title-text">WWAとは？</h3>
				</div>
				<div class="mdl-card__supporting-text">
					<p>WWAは広大なWebなインターネットの世界で冒険できるRPGシステムです。</p>
					<p>あなたもWWAのプレイヤーや制作者になってWWAの世界に入ってみませんか？</p>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/about/">
						WWAを知る
					</a>
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://www.wwajp.com/top.html">
						キャラバンサークルのトップページへ
					</a>
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://wwawing.com/">
						WWA Wingで作成ツールをGET!
					</a>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h3 class="mdl-card__title-text">最新情報: WWA FanSquareのWebサイトが完成！</h3>
				</div>
				<div class="mdl-card__supporting-text">
					<p>お待たせしました。WWA FanSquareは色々なコンテンツを持たせたうえでWebサイトを開設しました。</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fansq-playing-section mdl-typography--text-center">
	<div class="fansq-max-width">
		<div class="fansq-playing-section__title mdl-typography--display-1">
			WWAをプレイするには
		</div>
		<div class="fansq-playing-section__list icon-menu">
			<div class="icon-item icon-item--wwajp">
				<a class="icon-item__link" href="http://www.wwajp.com/">
					<img class="icon-item__icon" src="./assets/items-wwajp.png" alt="キャラバンサークル">
					<span class="icon-item__text">キャラバンサークル</span>
				</a>
			</div>
			<div class="icon-item icon-item--plicy">
				<a class="icon-item__link" href="https://plicy.net/">
					<img class="icon-item__icon" src="./assets/items-plicy.png" alt="プリシー">
					<span class="icon-item__text">プリシー</span>
				</a>
			</div>
			<div class="icon-item icon-item--more">
				<div class="icon-item__icon"></div>
				<span class="icon-item__text">...今後も増加中！</span>
			</div>
		</div>
	</div>
</div>
<div class="fansq-link-section fansq-max-width">
	<h2 class="fansq-link-section__title mdl-typography--text-center mdl-typography--display-1">
		WWA関連リンク
	</h2>
	<div class="mdl-card-container fansq-card-container mdl-grid">
		<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h3 class="mdl-card__title-text">キャラバンサークル</h3>
			</div>
			<div class="mdl-card__supporting-text">
				<p>WWAの原作者のサイトです。</p>
			</div>
			<div class="mdl-card__actions">
				<a class="mdl-button mdl-button--colored mdl-js-button" href="http://www.wwajp.com">キャラバンサークル</a>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h3 class="mdl-card__title-text">WWA Wing</h3>
			</div>
			<div class="mdl-card__supporting-text">
				<p>WWAをJavaアプレットからJavaScriptに移植したWWA Wingのサイトです。</p>
				<p>今後のWWAに向けて開発したい方はぜひご協力を！</p>
			</div>
			<div class="mdl-card__actions">
				<a class="mdl-button mdl-button--colored mdl-js-button" href="http://wwawing.com">WWA Wing</a>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h3 class="mdl-card__title-text">Aokashi Home</h3>
			</div>
			<div class="mdl-card__supporting-text">
				<p>代表のWebページです。こちらも、WWA作品とWWA素材がご利用になれます。</p>
			</div>
			<div class="mdl-card__actions">
				<a class="mdl-button mdl-button--colored mdl-js-button" href="https://www.aokashi.net">Aokashi Home</a>
			</div>
		</div>
	</div>
</div>
{{ end }}

{{ define "footer" }}
<div class="fansq-max-width mdl-mega-footer--bottom-section">
	<p>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br>
		このページの内容は、例外を除き、 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>の下に提供されています。ただし、WWA原作(キャラバンサークル)から提供されている画像や音声、文章、ソースコードなどの著作物につきましては、一部の著作権が原作者のNAO様に帰属します。詳しくは<a href="http://wwajp.com">WWA公式サイトをご確認ください</a>。
	</p>
	<p>当サイトは <a href="https://getmdl.io">Material Design Lite</a> およびそれに付属、参照される各種ライブラリを使用しています。HTMLソースよりご確認願います。</p>
	<p>Internet RPG "<a href="http://wwajp.com">World Wide Adventure</a>" © 1996-2017 NAO</p>
	<p>"WWA FanSquare" © 2017 WWA FanSquare</p>
</div>
{{ end }}