{{ define "style" }}
<style>
.fansq-wwabook-20th-title-section {
	background: url('wwabook_20th-bg.png') center / cover;
	padding-top: 1rem;
	position: relative;
}

.fansq-wwabook-20th__logo {
	text-align: center;
}

.fansq-wwabook-20th__logo > img {
	max-width: 100%;
	height: auto;
	max-height: 192px;
}

.fansq-wwabook-20th__description {
	background-color: #ffffc0;
	margin: 1rem 1rem 0;
	padding: 1rem;
}

.fansq-wwabook-20th__share__btn-facebook {
	overflow-x: hidden;
	width: 75px;
}

.fansq-wwabook-20th__share {
	text-align: center;
}

.fansq-wwabook-20th__share__btn {
	display: inline-block;
}

.fansq-wwabook-20th-interview-section {
	background-color: #28459b;
	color: white;
}

.fansq-wwabook-20th-interview-section > .fansq--max-width {
	background: url('wwabook_20th-interview.png') center 25% / cover;
	height: 640px;
	position: relative;
}

.fansq-wwabook-20th-interview__text {
	background-color: #28459b;
	bottom: 0;
	box-sizing: border-box;
	padding: 1rem;
	position: absolute;
	width: 100%;
}

.fansq-wwabook-20th-history-section {
	background-color: #996633;
	color: white;
}

.fansq-wwabook-20th-history-section > .fansq--max-width {
	background: url('wwabook_20th-history.png') no-repeat center top / 100%;
	height: 480px;
	position: relative;
}

.fansq-wwabook-20th-history__text {
	background-color: #996633;
	bottom: 0;
	box-sizing: border-box;
	padding: 1rem;
	position: absolute;
	width: 100%;
}

.fansq-wwabook-20th-pages-section {
	background-color: #339966;
	color: white;
}

.fansq-wwabook-20th-pages__image {
	background: url('wwabook_20th-pages.png') center 25% / cover;
	height: 360px;
}

.fansq-wwabook-20th-pages__text {
	padding: 1rem;
}

.fansq-wwabook-20th-buy__title {
	padding: 0 1rem;
}
</style>
{{ end }}

{{ define "head" }}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@wwa_fansq">
	<meta name="twitter:title" content="WWAの冒険書 20年の軌跡をQuickLoad!!">
	<meta name="twitter:description" content="WWAの20周年を記念に執筆した同人誌です。WWA製作者様のインタビューや、今に至るまでの年表など、WWAの20年が詰まった一冊です。">
	<meta name="twitter:image" content="wwa_20thbook.png">
{{ end }}