{{ define "style" }}
<style>
.page-wwabook-20th-title {
	background: url('wwabook_20th-bg.png') center / cover;
	padding-top: 1rem;
	position: relative;
}
	.page-wwabook-20th-title__logo {
		text-align: center;
	}
	.page-wwabook-20th-title__logo > img {
		max-width: 100%;
		height: auto;
		max-height: 192px;
	}
	.page-wwabook-20th-title__description {
		background-color: #ffffc0;
		padding: 1rem;
	}
	.page-wwabook-20th-title__share {
		text-align: center;
	}
		.page-wwabook-20th-title__share .share-btn {
			display: inline-block;
		}
		.page-wwabook-20th-title__share .share-btn--facebook {
			overflow-x: hidden;
			width: 75px;
		}

.page-wwabook-20th-interview {
	background-color: #28459b;
	color: white;
}
	.page-wwabook-20th-interview > .content-width {
		background: url('wwabook_20th-interview.png') center 25% / cover;
		height: 640px;
		position: relative;
	}
	.page-wwabook-20th-interview__text {
		background-color: #28459b;
		bottom: 0;
		box-sizing: border-box;
		padding: 1rem;
		position: absolute;
		width: 100%;
	}

.page-wwabook-20th-history {
	background-color: #996633;
	color: white;
}
	.page-wwabook-20th-history > .content-width {
		background: url('wwabook_20th-history.png') no-repeat center top / 100%;
		height: 480px;
		position: relative;
	}
	.page-wwabook-20th-history__text {
		background-color: #996633;
		bottom: 0;
		box-sizing: border-box;
		padding: 1rem;
		position: absolute;
		width: 100%;
	}

.page-wwabook-20th-pages {
	background-color: #339966;
	color: white;
}
	.page-wwabook-20th-pages__image {
		background: url('wwabook_20th-pages.png') center 25% / cover;
		height: 360px;
	}
	.page-wwabook-20th-pages__text {
		padding: 1rem;
	}
</style>
{{ end }}

{{ define "head" }}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@wwa_fansq">
	<meta name="twitter:title" content="WWAの冒険書 20年の軌跡をQuickLoad!!">
	<meta name="twitter:description" content="WWAの20周年を記念に執筆した同人誌です。WWA製作者様のインタビューや、今に至るまでの年表など、WWAの20年が詰まった一冊です。">
	<meta name="twitter:image" content="wwa_20thbook.png">
{{ end }}