<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
{{- with .Params -}}
{{- if and (isset . "image") (isset . "description") }}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ $.Site.Params.twitter_id }}">
  <meta name="twitter:title" content="{{ .title }}">
  <meta name="twitter:description" content="{{ .description }}">
  <meta name="twitter:image" content="{{ .image }}">
{{- end -}}
{{- if isset . "description" }}
  <meta name="descrption" content="{{ .description }}">
{{- end -}}
{{- end -}}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/material.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ .Site.Params.siteCSS }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}wwa_fansq-icon.png">
  <script src="{{ .Site.BaseURL }}js/material.min.js"></script>
{{- block "head" . }}
{{- end }}
  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
</head>
<body>
  <div class="fansq mdl-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button mdl-js-layout">
  {{ block "header" . }}
    {{ partial "header.html" . }}
  {{ end }}
    <main class="fansq__main main mdl-layout__content">
      <a name="top"></a>
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
      <footer class="fansq__footer footer mdl-mega-footer">
        <div class="content-width mdl-mega-footer--middle-section">
          <div class="mdl-mega-footer--left-section">
            <button class="mdl-mega-footer__social-btn social-btn social-btn--twitter" onclick="location.href='https://twitter.com/wwa_fansq'">
              <span class="invisible">Twitter</span>
            </button>
          </div>
          <div class="mdl-mega-footer--right-section">
            <a href="#top">
              トップへ戻る
              <i class="material-icons">expand_less</i>
            </a>
          </div>
        </div>
      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </main>
  </div>
</body>
</html>